pre, code, .highlighter-rouge pre.highlight {
  background-color: #cddad6
}

div.post-wrapper {
  padding-top: 30px;
  box-shadow: 0 5px 10px #b1b1b1;
  border: 2px solid #04997a;
}

div.post-wrapper img {
  box-shadow: 0 5px 10px #b1b1b1;
  margin: 5px;
}
